@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&family=Staatliches&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lightgreen: #a3c3ac;
  --midgreen: #90ab98;
  --todarkgreen: #7f998a;
  --darkergreen: #5f7569;
  --gradient-background: radial-gradient(var(--midgreen), var(--darkergreen));
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--lightgreen);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}

.container {
  width: 80%;
  min-height: 45rem;
  background: var(--gradient-background);
  margin: 4.5rem auto;
  padding: 2rem;
}

.right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  min-height: 45rem;
}

.left {
  width: 70%;
  padding: 4rem 0;
  min-height: 45rem;
}

.home-logo {
  max-width: 6.7rem;
}

.portrait {
  padding: 4rem 0;
  max-width: 40rem;
  max-height: 40rem;
}

.left-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 80%;
}
.contact-links {
  text-align: center;
  padding-top: 4rem;
}
.contact-links a {
  margin: 0.8rem;
  font-size: 1.5rem;
}
