.card-image {
  overflow: hidden;
}
.card-image img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.link a::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkergreen);
}
